[submodule ".registry"]
	path = .registry
	url = https://github.com/mobility-team/mobility-team.r-universe.dev
	branch = HEAD
[submodule "cppRouting"]
	path = cppRouting
	url = https://github.com/mobility-team/cppRoutingCCH
