[submodule ".registry"]
	path = .registry
	url = https://github.com/mobility-team/mobility-team.r-universe.dev
	branch = HEAD
[submodule "cppRoutingCCH"]
	path = cppRoutingCCH
	url = https://github.com/mobility-team/cppRoutingCCH
[submodule "osmdata.mobility"]
	path = osmdata.mobility
	url = https://github.com/mobility-team/osmdata.mobility
